.started-template {
    padding: 40px 50px;
    text-align: center;
}
.lead-center{
    text-align: justify;
}
.text{ text-align:center;}
.oculto{display: none;}
.visible{ display: inline;}

.container-precio{

    text-align: center;
}
.pedido{
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}
.form {
    display: flex;
    justify-content: center;
}
button{ 
background-color:rgb(15, 89, 248);
}



/*FOOTER*/
.footer {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    background-color: #141414;
    color: #fff;
  }
  
  .copyright {
    background-color: #575454;
  }
  
  .btn {
    box-shadow: 2px 2px 5px #aaa0a0;
  }