.started-template {
    padding: 40px 50px;
    text-align: center;
}
.lead-center{
    text-align: justify;
}
.text{ text-align:center;}
.oculto{display: none;}
.visible{ display: inline;}

.container-precio{
    background-color: antiquewhite;
    text-align: center;
}
.pedido{
    padding-top: 2rem;

    padding-left: 10rem;
    padding-right: 10rem;
}